.navbar {

    height: 40px;
    background-color: black;
    position: sticky !important;
    transition: all 0.3s ease-out 0s !important;
    padding: 0.5rem 3rem !important;
    font-size: 1.3rem !important;
    top: 0;
  }
  
  
  /* Footer style */
  .footer {
    width: 100%;
    height: 50px;
    background-color: black;
    position: absolute !important;
    transition: all 0.3s ease-out 0s !important;
    font-size: x-small;
  }

  /* Homepage style */

.homepagebackground {
    width: 100%;
    min-height: 100vh;
    background-image: url(../components/media/background.jpg);
    background-size: cover;
    padding-top: 50px;
  
  }

  .headtext {
    padding-top: 120px;
    font-size: 2.4em !important;
    color: #050505 !important;
    font-weight: 600 !important;
    letter-spacing: 1px !important;
  }

  .copyright span {
    font-weight: 700;
    letter-spacing: 1px;
  }